[submodule "frontend"]
	path = frontend
	url = https://github.com/akashpadampalle/student-insight-client.git
[submodule "backend"]
	path = backend
	url = https://github.com/akashpadampalle/student-insight-server.git
